* {
    margin: 0;
    background-color: black;
    font-family: 'monspace';
}

p, h1 {
    color: white;
}

input {
    background-color: white;
    margin-top: 0.5rem
}

label {
    color: white;
    margin-top: 0.5rem;
}

select {
    margin-top: 0.5rem;
}

